rdflib==5.0.0
elasticsearch_dsl==7.3.0
elasticsearch==7.13.3
Django==2.2.24
requests==2.25.1
pysolr==3.9.0
simplejson==3.17.3
django-import_export==2.8.0
gunicorn==20.1.0
djangorestframework==3.13.1
spacy==3.4.1
gensim==4.2.0
pyenchant==3.2.2
fuzzywuzzy==0.18.0
xmljson==0.2.1
selenium==4.4.3
webdriver-manager==3.8.3
github.py==0.5.0
pygithub==1.55
gitlab-languages==2.2.0
pandas==1.4.4
ijson==3.1.4
BeautifulSoup4==4.11.1
lxml==4.9.1
validators==0.20.0
textblob==0.17.1
spellchecker==0.4
pyspellchecker==0.7.0
xmltojson==2.0.1
pycountry==22.3.5
googletrans==3.0.0
djangorestframework-simplejwt==5.2.0
django-cors-headers==3.13.0
SPARQLWrapper==2.0.0
geopy==2.2.0
nltk==3.7
indexer==0.6.2

